<script src="https://source.zoom.us/3.9.0/lib/vendor/react.min.js"></script>
<script src="https://source.zoom.us/3.9.0/lib/vendor/react-dom.min.js"></script>
<script src="https://source.zoom.us/3.9.0/lib/vendor/redux.min.js"></script>
<script src="https://source.zoom.us/3.9.0/lib/vendor/redux-thunk.min.js"></script>
<script src="https://source.zoom.us/3.9.0/lib/vendor/lodash.min.js"></script>
<script src="https://source.zoom.us/3.9.0/zoom-meeting-3.9.0.min.js"></script>

<script src="/mod/ttthzoom/js/tool.js"></script>
<script src="/mod/ttthzoom/js/meeting.js"></script>